body {
    font-family: 'Overpass', sans-serif;
}

.app {
    margin: 16px;
}

.chart {
    height: 320px;
    border: 1px solid #E2E6E9;
    border-radius: 3px;
}

.form {
    margin-top: 16px;
    border: 1px solid #E2E6E9;
    border-radius: 3px;
    width: 368px;
}
